* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
  
  }
  
  body {
    background-color: burlywood;
  }
  
  .text-container {
    margin: 30px auto;
    border: 10px solid brown;
    padding: 50px;
    text-align: center;
    width: 800px;
    background-color: bisque;
  }
  
  .content {
    margin: 10px;
    text-align: left;
  }
  
  img {
    width: 500px;
  }
  
  h1 {
    font-size: 30px;
    text-align: center;
    margin: 10px;
  }
  
  p {
    font-size: 20px;
    margin-bottom: 10px;
    font-size: 22px;
  }
  
  h3 {
    font-size: 28px;
    margin: 20px 0px;
  }
  
  ul {
    list-style: none;
    font-size: 20px;
  }
  
  ol {
    font-size: 20px;
  }
  